<mat-toolbar>
    <img src="../../../../assets/icons/logo.svg"/>

    <div class="nav">
        
        <div class="item-menu">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" />
            <span><a routerLink="">Home</a></span>
        </div>
        
        <div class="item-menu">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="create"></mat-icon>
            <span><a routerLink="/cliente/novo" >Cadastrar Cliente</a></span>
        </div>

        <div class="item-menu">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list" />
            <span><a routerLink="/cliente/listar">Listar Clientes</a></span>
        </div>

        <div class="item-menu">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="create" />
            <span><a routerLink="/conta/novo">Cadastrar Contas</a></span>
        </div>

        <div class="item-menu">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list" />
            <span><a routerLink="/conta">Listar Contas</a></span>
        </div>
    </div>

</mat-toolbar>