mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #4758B8;
    color: #4758B8;

    div.nav{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        div.item-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 2rem;

            mat-icon{
                cursor: pointer;
                color: #4758B8;
            }
    
            a {
                text-decoration: none;
                color: #000;
                margin-left: .5rem;
            }
        }
    }

   
}


