mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    background-color: #6348ED;

    div.nav{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        div.item-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 2rem;

            mat-icon{
                cursor: pointer;
                color: #fff;
            }
    
            a {
                text-decoration: none;
                color: #fff;
                margin-left: .5rem;
                font-size: 1rem;
            }
        }
    }

   
}


