<mat-toolbar>
    <span>MyBank</span>

    <div class="nav">
        <div class="item-menu">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <span><a href="#">Home</a></span>
        </div>

        <div class="item-menu">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone" />
            <span><a href="#">Contacts</a></span>
        </div>

        <div class="item-menu">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="info" />
            <span><a href="#">About</a></span>
        </div>
    </div>

</mat-toolbar>